span{
	font-size: 80%;
}
#main_interface_container, #plans-container, .plan-results, .login-page, .friend-page, .pending_invitations, .manage_circles{
	  border-radius: 5px;
	  height: 95vh;
	  margin-top: 2vh;
	  border: 1px solid black;
	  position: absolute;

}

#generate_form input{
	height: 10vh;
  	margin-top: 4vh;

}

#set_plans_btn{
	border-radius: 5px;
	color:white;
	height: 20%;
	margin-top: 7%;
	border: 1px solid black;
	background-color: #0F4719;
}

#manage_circles_btn{
	border-radius: 5px;
	height: 20%;
	margin-top: 7%;
	border: 1px solid black;
	background-color: #0F2B3B;
}

#get_invites_btn{
	border-radius: 5px;
	height: 20%;
	margin-top: 7%;
	border: 1px solid black;
	background-color: #999149;
}

.search_parameters{
	display: block;
}

#generate_modal{
	height: 82vh;
    width: 40vw;
}


#generate_form{
	height:60%;
}

.result_images{
  height: 20vh;
  
  border-radius: 22px;
  box-shadow: 5px 5px 17px;

}

.outing_container{
	-webkit-transition-duration: .5s;
	position: absolute;
	left:100%;
	margin-top: 5%;
	height: 24vh;
	border: 1px solid black;
	border-radius: 5px;
	overflow: scroll;
	box-shadow: 5px 5px 17px;
	z-index:1;
}

#plan_modal{
	height: 100%;
}

.carousel_window{
	height: 85%;
	border: 1px solid black;
	overflow: hidden;
	width: 85%;
	margin-top: 2vh;
}

.next_event{
	-webkit-transition-duration: 1s;
	left:100%;
}

.previous_event{
	-webkit-transition-duration: 1s;
	left:-100%;

}

.current_event{
	-webkit-transition-duration: 1s;
	left:0%;
}

.open_event{
	-webkit-transition-duration: .5s;
	height:40vh;
}

.description_span{
	 font-size: 70%;
  	font-style: italic;
}



#map-canvas{
	height: 30vh;
  	width: 43vw;
  	top: 63%;
  	left: 8%;
  	z-index: 0;
}

.labels {
   color: green;
   
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 80%;
   font-weight: bold;
   text-align: center;
   
       
   
   white-space: nowrap;
 }

 #next_btn{
 	position: absolute;
  	bottom: 60vh;
  	right: 5vw;
  	height: 10vh;
}
 
#prev_btn{
  position: absolute;
  bottom: 60vh;
  left: 6vw;
  height: 10vh;
}

.hidden_button{
	display: none;
}
 
.individual_friend{
	height:10%;
	border: 1px solid black;
}

.individual_avatar{
	height:6vh;
	margin-top:1%;
	
	border: 1px solid black;
}

.friend_container{
	height: 80%;
	border: 1px solid black;
}

.username_span{
	font-size: 130%;
  	margin-top: 3.5%;
}

.select_friend{
	height:100%;
}

.invitations_container, .details_of_event{
	border: 1px solid black;
	height: 80vh;
}

.event_container{
	border: 1px solid black;
	margin-bottom: 1vh;
	height: 20%;
	overflow: scroll;
}

.venue_container{
	border: 1px solid black;
	margin-bottom: 1vh;
}

.hidden{
	display: none;
}

.group_friends{
  position: relative;
  top: 85%;
  right: 50%;
}

.group_container{
	height: 80%;
	border: 1px solid black;
}

.list_of_friends{
	height: 80%;
	border: 1px solid black;
}

.event_owner_pic{
	height:90%;
	padding:0;
}

.event_details{
	font-size: 70%;
}

#status{
	display: none;
}

.use_my_location{
	margin-top: 8vh;
}