span{
	font-size: 80%;
}
#main_interface_container, #plans-container, .plan-results, .login-page, .friend-page, .pending_invitations, .manage_circles, .landing_page{
	  border-radius: 5px;
	  height: 95vh;
	  margin-top: 2vh;
	  border: 1px solid black;
	  position: absolute;
	  overflow: hidden;
}

.description{
  text-shadow: 2px 2px 4px black;
  position: absolute;
  left: 1vw;
  top: 36vh;
  z-index: 1;
  color: white;
  font-size: 4vh;
  font-family: cursive;
}

.active{
  background-color: #00688B;
}

#set_plans_btn{
  border-radius: 5px;
  color: white;
  height: 7vh;
  width: 17vw;
  
  border: 1px solid black;
  background-color: #00688B;
  font-size: 5vh;
  
  
  opacity: .78;
  box-shadow: 6px 7px 6px black;
  font-family: cursive;
}

.set_plans_div{
  position: absolute;
  left: 24vw;
  top: 28vh;
  height: 17vh;
  border: 1px solid black;
  opacity: .9;
  background-color: white;
  border-radius: 6px;
}

.set_plans_description{
  position: absolute;
  left: 4vw;
  top: 9vh;
  font-size: 3vh;
  width: 15vw;
  font-family: cursive;  
}

.return_to_main_from_set_plans{
  left: -24vw;
  font-size: 4vh;
  top: 77vh;
}

.go_home_text_set_plans{
  position: relative;
  left: -28.5vw;
  font-family: cursive;
  font-size: 2vh;
  bottom: -80vh;
}

.manage_circles_div{
  position: absolute;
  left: 40vw;
  top: 60vh;
  height: 17vh;
  border: 1px solid black;
  opacity: .9;
  background-color: white;
  border-radius: 6px;
}

#manage_circles_btn{
  border-radius: 5px;
  color: white;
  height: 7vh;
  width: 17vw;
  
  border: 1px solid black;
  background-color: #337147;
  font-size: 5vh;
  top: 58vh;
  opacity: .78;
  box-shadow: 6px 7px 6px black;
  font-family: cursive;
}

.manage_circles_description{
  position: absolute;
  top: 10vh;
  left: .5vw;
  font-size: 2.5vh;
  font-family: cursive;
}

#get_invites_btn{
  border-radius: 5px;
  color: white;
  height: 7vh;
  width: 17vw;
 
  border: 1px solid black;
  background-color: #337147;
  font-size: 4vh;
  top: 35vh;
  opacity: .78;
  box-shadow: 6px 7px 6px black;
  font-family: cursive;
}

.get_invites_div{
  position: absolute;
  left: 8vw;
  top: 60vh;
  height: 17vh;
  border: 1px solid black;
  opacity: .9;
  background-color: white;
  border-radius: 6px;
}

.get_invites_description{
  position: absolute;
  top: 10vh;
  left: 3vw;
  font-family: cursive;
  font-size: 2.5vh;
}

.menu_title{
	margin-top: 3vh;
}

.search_parameters{
	display: block;
}

.time_form{
	margin-top: 6vh;
}

.time_form select{
	margin-bottom: 3vh
}

.divider{
	height:1vh;
	background-color:black;
	padding: 0;
	margin-top:1vh;
}

.parameter_form{
	margin-top: 5vh;
}

.form_header{
	font-family:cursive;

}

#search_param1{
	height: 4vh; 	
  	float:none;
}

#search_param2{
	margin-top: 4vh;
	height: 4vh; 	
  	float:none;
}

#search_param3{
	margin-top: 4vh;
	height: 4vh; 	
  	float:none;
}

#location{
	margin-top: 4vh;
	height: 4vh; 	
  	float:none;
}

#generate_plans_btn{
  top: 20vh;
  position: relative;
  right: 3vw;
  height: 12vh;
  font-family: cursive;
  font-size: 3vh
}

#generate_modal{
	height: 82vh;
    width: 40vw;
}


#generate_form{
  height: 92%;
  margin-top: 2vh;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.result_images{
  height: 20vh;
  
  border-radius: 22px;
  box-shadow: 5px 5px 17px;

}

.outing_container{
	-webkit-transition-duration: .5s;
	position: absolute;
	left:100%;
	margin-top: 5%;
	height: 24vh;
	border: 1px solid black;
	border-radius: 5px;
	overflow: scroll;
	box-shadow: 5px 5px 17px;
	z-index:1;
}

#plan_modal{
	height: 100%;
}

.carousel_window{
	height: 85%;
	border: 1px solid black;
	overflow: hidden;
	width: 85%;
	margin-top: -1vh;
}

.next_event{
	-webkit-transition-duration: 1s;
	left:100%;
}

.previous_event{
	-webkit-transition-duration: 1s;
	left:-100%;

}

.current_event{
	-webkit-transition-duration: 1s;
	left:0%;
}

.open_event{
	-webkit-transition-duration: .5s;
	height:40vh;
}

.description_span{
	 font-size: 70%;
  	font-style: italic;
}



#map-canvas{
	height: 30vh;
  	width: 43vw;
  	top: 63%;
  	left: 8%;
  	z-index: 0;
}

.labels {
   color: green;
   
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 80%;
   font-weight: bold;
   text-align: center;   
   white-space: nowrap;
 }

 #accpt_btn{
  font-size: 5vh;
  position: absolute;
  left: 15vw;
 }

 .accept_text{
  position: absolute;
  left: 30vw;
  top: 4vh;
  font-family: cursive;
  font-size: 3vh
 }

 #next_btn{
  position: absolute;
  bottom: 33vh;
  right: 5vw;
  height: 45vh;
  background-color: gray;
  z-index: 1;
  box-shadow: 2px 2px 20px black;
  opacity: 0.7;
}
 
#prev_btn{
  position: absolute;
  bottom: 33vh;
  left: 6vw;
  height: 45vh;
  background-color: gray;
  z-index: 1;
  box-shadow: 2px 2px 20px black;
  opacity: 0.7;
}

.right_chevron{
  z-index: 1;
  font-size: 8vh;
  position: absolute;
  top: 21vh;
  left: 48vw;
}

.left_chevron{
  z-index: 1;
  font-size: 8vh;
  position: absolute;
  top: 21vh;
  left: 4vw;
}

.hidden_button{
	display: none;
}
 
.individual_friend{
	height:10%;
  margin-top: 1vh;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
}

.individual_avatar{
	height:6vh;
	margin-top:1%;
	
	border: 1px solid black;
}

.friend_container{
	height: 80%;
  border: 3px solid black;
  top: 4vh;
  border-radius: 5px;
}

.username_span{
	font-size: 130%;
  	margin-top: 3.5%;
}

.select_friend{
	height:100%;
}

.invitations_container, .details_of_event{
	#border: 1px solid black;
	height: 80vh;
  overflow: scroll;
}

.return_to_main_from_invitations{
  left: 43vw;
  font-size: 6vh;
  top: -11vh;
}

.pending_invitations_text{
  font-family: cursive;
  font-size: 5vh;
  right: 4vw;
}

.go_home_text{
  position: relative;
  left: 37.5vw;
  font-family: cursive;
  font-size: 3vh;
  bottom: 7vh;
}

.review_plan_details_text{
  font-family: cursive;
  font-size: 4vh;
  left: 2vw;
}

.swap_button{
  font-size: 3vh;
  left: 6vw;
}

.event_container{
	#border: 1px solid black;
	margin-bottom: 1vh;
	height: 20%;
	overflow: scroll;
  box-shadow: 2px 2px 20px black;
}

.venue_container{
	#border: 1px solid black;
	margin-bottom: 6vh;
  position: relative;
  top: 13vh;
  border-radius:5px;
  box-shadow: 2px 2px 18px black;

}

.hidden{
	display: none;
}

.group_friends{
  position: relative;
  top: 85%;
  right: 50%;
}

.group_container{
	height: 80%;
	border: 1px solid black;
}

.list_of_friends{
	height: 80%;
	border: 1px solid black;
}

.event_owner_pic{
	height:65%;
	padding:0;
  margin-top:1vh;
}

.event_details{
	font-size: 70%;
}

#status{
	display: none;
}

.use_my_location{
	margin-top: 2vh;
}

#location_check{
	margin-top: 3vh;
}

.window_image{
  height: 95vh;
  width: 67vw;
  position: absolute;
  top: 0vh;
  left: 0vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
}

.login_button{
  position: relative;
  top: 83vh;
  left: 6vw;
}

.app_title{
	font-family: cursive;
  position: absolute;
  left: 23vw;
  font-size: 15vh;
  top: 8vh;
  z-index: 1;
}

.invite_prompt{
    font-family: cursive;
    font-size: 3vh;
}

.invite_span{
    position: absolute;
    top: 39vh;
    left: 45vw;
    font-family: cursive;
    font-size: 4vh;
}

.invite_envelope{
  position: absolute;
  top: 26vh;
  font-size: 10vh;
  left: 47vw;
}

.copy{
  text-shadow: 2px 2px black;
  position: absolute;
  left: 25vw;
  top: 73vh;
  z-index: 1;
  color: white;
  font-size: 5vh;
  font-family: cursive;
}

.main_interface_background{
  position: absolute;
  -webkit-filter: grayscale(0.5);
  opacity: .5;
  width: 144vh;
  left: -1vw;
}

.main_interface_picture{
  position: absolute;
  height: 150vh;
  top: -13vh;
  right: -39.5vw;
  width: 147vw;
}